section.hero .honeys-hero-image {
  width: 22rem;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 8rem;
  margin-inline: auto;
}

.honeyid {
  margin-bottom: 28rem;
}

.honeys-qoute {
  width: 8rem;
  position: absolute;
  z-index: -1;
  top: 9rem;
  left: 2rem;
}

.hero-left--desc .quote-div {
  width: 90%;
  margin-left: 0;
  margin-top: 0;
}

@media screen and (min-width: 960px) {
  section.hero .honeys-hero-image {
    width: 25rem;
    transform: translate(calc(10vw - 4rem), -5rem);
  }
}
@media screen and (min-width: 1100px) {
  section.hero .honeys-hero-image {
    width: 30rem;
    transform: translate(calc(9vw - 4rem), -5rem);
  }
}
@media screen and (min-width: 1300px) {
  section.hero .honeys-hero-image {
    transform: translate(calc(9.5vw - 4rem), -5rem);
  }
}
@media screen and (min-width: 1400px) {
  section.hero .honeys-hero-image {
    width: 50rem;
    transform: translate(0.5rem, -5rem);
  }
}
@media screen and (min-width: 1500px) {
  section.hero .honeys-hero-image {
    position: absolute;
    top: -2rem;
    right: -2.5rem;
    width: 51rem;
  }
}
@media screen and (min-width: 350px) {
  section.hero .hero-left--desc img {
    top: 12rem;
  }
}
@media screen and (min-width: 395px) {
  section.hero .hero-left--desc img {
    top: 10rem;
  }
}
@media screen and (min-width: 422px) {
  section.hero .hero-left--desc img {
    top: 7rem;
  }
}
@media screen and (min-width: 451px) {
  .hero-left--desc .quote-div {
    width: 90%;
    margin-left: 3rem;
    margin-top: 5rem;
  }
}
@media screen and (min-width: 730px) {
  section.hero .hero-left--desc img {
    top: 10rem;
  }
}
@media screen and (min-width: 780px) {
  section.hero .hero-left--desc img {
    top: 8rem;
  }
}
@media screen and (min-width: 1100px) {
  section.hero .hero-left--desc img {
    top: 14rem;
  }
}
@media screen and (min-width: 1137px) {
  section.hero .hero-left--desc img {
    top: 10rem;
  }
}
.honeys-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  padding-inline: 2rem;
  margin-inline: auto;
  margin-top: 2rem;
}
.honeys-grid .honeys-grid--search {
  display: grid;
  place-items: center;
  margin-top: 8rem;
  grid-column: 1/-1;
  margin-bottom: 2rem;
}
.honeys-grid .honeys-grid--search h4 {
  margin-bottom: 0.5rem;
}
.honeys-grid .honeys-grid--search input {
  width: 15rem;
  border: 0;
  border-radius: 1rem;
  background-color: white;
  padding: 0.25rem 0.5rem;
}
.honeys-grid .honeys-landing--right--carousel--box {
  background-color: #1d1d1d;
  padding: 2rem;
  border-radius: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  display: flex;
  gap: 2rem;
}
.honeys-grid .honeys-landing--right--carousel--box p {
  width: 10rem;
  margin-bottom: 1rem;
}
.honeys-grid .honeys-landing--right--carousel--box .button {
  margin-bottom: 1rem;
}

@media screen and (min-width: 351px) and (max-width: 450px) {
  .hero-left--desc .quote-div {
    width: 100%;
    margin-left: 3rem;
    margin-top: 5rem;
  }
  section.honeys-grid .honeys-landing--right--carousel--box {
    zoom: 0.7;
  }
}
@media screen and (min-width: 900px) {
  .honeys-grid {
    grid-template-columns: 1fr 1fr;
    max-width: 66.375rem;
  }
  .honeys-grid .honeys-grid--search {
    place-items: flex-start;
  }
  .honeys-grid .honeys-grid--search input {
    width: 25rem;
  }
}
@media screen and (min-width: 1100px) {
  .honeys-grid {
    margin-top: 8rem;
  }
  .honeys-grid .honeys-landing--right--carousel--box p {
    width: 15rem;
  }
}
@media screen and (min-width: 1500px) {
  .honeys-grid {
    margin-top: 16rem;
  }
}
@media screen and (min-width: 1600px) {
  .honeys-grid {
    margin-top: 18rem;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100rem;
  }
  .honeys-grid .honeys-landing--right--carousel--box {
    zoom: 0.875;
  }
}
section.hero .honeyid-hero-image {
  width: 10rem;
  height: auto;
  margin-top: 3.5rem;
  margin-bottom: 8rem;
  margin-inline: auto;
}

@media screen and (min-width: 960px) {
  section.hero .honeyid-hero-image {
    width: 15rem;
    transform: translate(calc(8vw - 4rem), -7rem);
  }
}
@media screen and (min-width: 1100px) {
  section.hero .honeyid-hero-image {
    width: 20rem;
    transform: translate(calc(7vw - 4rem), -7.5rem);
  }
}
@media screen and (min-width: 1300px) {
  section.hero .honeyid-hero-image {
    transform: translate(calc(10vw - 4rem), -7.5rem);
  }
}
@media screen and (min-width: 1400px) {
  section.hero .honeyid-hero-image {
    width: 23rem;
    transform: translate(0.5rem, -6rem);
  }
}
section.hero .hero-left--desc--nav {
  width: -moz-max-content;
  width: max-content;
  min-width: 28.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin-top: 2rem;
}
section.hero .hero-left--desc--nav li {
  padding: 1rem;
}
section.hero .hero-left--desc--nav .first-tab {
  margin-left: 0 !important;
}
section.hero .hero-left--desc .selected-tab {
  background-color: #1d1d1d;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  font-weight: bold;
}
section.hero .hero-left--desc--content {
  background: var(--nav-color);
  padding: 1rem;
  padding-bottom: 3rem;
  border-radius: 0 1rem 1rem 1rem;
}/*# sourceMappingURL=honeys.css.map */