// ------------
// ------------
// Hero Section
// ------------
// ------------

section.hero {
   .honeys-hero-image {
      width: 22rem;
      height: auto;
      margin-top: 5rem;
      margin-bottom: 8rem;
      margin-inline: auto;
   }
}

.honeyid {
   margin-bottom: 28rem;
}

.honeys-qoute {
   width: 8rem;
   position: absolute;
   z-index: -1;
   top: 9rem;
   left: 2rem;
}

.hero-left--desc .quote-div {
   margin-left: 3rem;
}

// Media queries for hero

@media screen and (min-width: 960px) {
   section.hero {
      .honeys-hero-image {
         width: 25rem;
         transform: translate(calc(10vw - 4rem), -5rem);
      }
   }
}

@media screen and (min-width: 1100px) {
   section.hero {
      .honeys-hero-image {
         width: 30rem;
         transform: translate(calc(9vw - 4rem), -5rem);
      }
   }
}

@media screen and (min-width: 1300px) {
   section.hero {
      .honeys-hero-image {
         transform: translate(calc(9.5vw - 4rem), -5rem);
      }
   }
}

@media screen and (min-width: 1400px) {
   section.hero {
      .honeys-hero-image {
         width: 50rem;
         transform: translate(.5rem, -5rem);
      }
   }
}

@media screen and (min-width: 1500px) {
   section.hero {
      .honeys-hero-image {
         position: absolute;
         top: -2rem;
         right: -2.5rem;
         width: 51rem;
      }
   }
}

// Bug fixes (.honeys-quote img)
@media screen and (min-width: 730px) {
   section.hero {
      .hero-left--desc img {
         top: 10rem;
      }
   }
}

@media screen and (min-width: 1100px) {
   section.hero {
      .hero-left--desc img {
         top: 15rem;
      }
   }
}

@media screen and (min-width: 1137px) {
   section.hero {
      .hero-left--desc img {
         top: 11rem;
      }
   }
}

// --------------
// --------------
// Honeys Section
// --------------
// --------------

.honeys-grid {
   display: grid;
   grid-template-columns: 1fr;
   gap: 2rem;
   width: fit-content;
   padding-inline: 2rem;
   margin-inline: auto;
   margin-top: 2rem;

   .honeys-grid--search {
      display: grid;
      place-items: center;
      margin-top: 8rem;
      grid-column: 1 / -1;
      margin-bottom: 2rem;
   
      h4 { margin-bottom: .5rem;}
   
      input {
         width: 15rem;
         border: 0;
         border-radius: 1rem;
         background-color: white;
         padding: .25rem .5rem;
      }
   }

   // Uses the same class name as the landing page's honeys section
   .honeys-landing--right--carousel--box {
      background-color: #1d1d1d;
      padding: 2rem;
      border-radius: 1rem;

      width: fit-content;
      text-align: center;
      display: flex;
      gap: 2rem;

      p {
         width: 10rem;
         margin-bottom: 1rem;
      }

      .button {
         margin-bottom: 1rem;
      }
   }
}

// Media queries for honeys

@media screen and (min-width: 351px) and (max-width: 450px) {
   section.honeys-grid {
      .honeys-landing--right--carousel--box {
         zoom: .7;
      }
   }
}

@media screen and (min-width: 900px) {
   .honeys-grid {
      grid-template-columns: 1fr 1fr;
      max-width: 66.375rem;

      .honeys-grid--search {
         place-items: flex-start;

         input { width: 25rem }
      }
   }
}

@media screen and (min-width: 1100px) {
   .honeys-grid {
      margin-top: 8rem;

      .honeys-landing--right--carousel--box p {
         width: 15rem;
      }
   }
}

@media screen and (min-width: 1500px) {
   .honeys-grid {
      margin-top: 16rem;
   }
}

@media screen and (min-width: 1600px) {
   .honeys-grid {
      margin-top: 18rem;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 100rem;

      .honeys-landing--right--carousel--box {
         zoom: .875;
      }
   }
}

// ---------------
// ---------------
// HoneyID section
// ---------------
// ---------------

section.hero {
   .honeyid-hero-image {
      width: 10rem;
      height: auto;
      margin-top: 3.5rem;
      margin-bottom: 8rem;
      margin-inline: auto;
   }
}

// Media queries for hero

@media screen and (min-width: 960px) {
   section.hero {
      .honeyid-hero-image{
         width: 15rem;
         transform: translate(calc(8vw - 4rem), -7rem);
      }
   }
}

@media screen and (min-width: 1100px) {
   section.hero {
      .honeyid-hero-image {
         width: 20rem;
         transform: translate(calc(7vw - 4rem), -7.5rem);
      }
   }
}

@media screen and (min-width: 1300px) {
   section.hero {
      .honeyid-hero-image {
         transform: translate(calc(10vw - 4rem), -7.5rem);
      }
   }
}

@media screen and (min-width: 1400px) {
   section.hero {
      .honeyid-hero-image {
         width: 23rem;
         transform: translate(.5rem, -6rem);
      }
   }
}

// Description
section.hero {
   .hero-left {
      &--desc {
         &--nav {
            width: max-content;
            min-width: 28.2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            margin-top: 2rem;

            li {
               padding: 1rem;
            }

            .first-tab {
               margin-left: 0 !important;
            }
         }

         .selected-tab {
            background-color: #1d1d1d;
            padding: 1rem;
            border-radius: 1rem 1rem 0 0;
            font-weight: bold;
         }

         &--content {
            background: var(--nav-color);
            padding: 1rem;
            padding-bottom: 3rem;
            border-radius: 0 1rem 1rem 1rem;
         }
      }
   }
}